@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    max-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
    max-width: 650px;
    height: 97vh;
    
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #c0c0c0c0;
    color: black;
    font-size: 1.2em;
    text-align: center;
}

footer a{
    color: rgba(0, 0, 0, 0.63);
    text-decoration: none;
    
}

footer a:hover{
    background-color: rgba(0, 0, 0, 0.701);
    color: rgba(17, 255, 0, 0.6);
}

/* @media (min-width: 375px) {
    main{
        flex-direction: ;
    }   
} */


